body {
  font-family: "Helvetica", sans-serif;
  background-color: #FFEFD5;
}

h2 {
  color: #7A0019;
}


.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
